@charset "utf-8";
#banner{
    width: 100%;
    height: 400px;
    img{
        height:400px;
    }
    a.left{
        width: 54px;height: 54px;
        left:328px;
        top:180px;
    }
    a.right{
        width: 54px;height: 54px;
        right:328px;
        top:180px;
    }
}